.button-default {
    margin: 15px 0px;
    background-color: #C2383A;
    border: none;
    outline: transparent;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-family: 'Open Sans' sans-serif;
}

.button-default:hover {
    cursor: pointer;
    background-color: rgba(194, 56, 58, 0.85);
    transform: scale(1.1);
    transition: 0.5s;
}


