.four-pub-buttons {
    background-color: transparent;
    border: none;
    outline: transparent;
}

.div-pub-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px 25px;
}