@font-face {
    font-family: 'Open Sans';
    src: url('../components/assets/fonts/OpenSans-Regular.ttf') format(ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url('../components/assets/fonts/Roboto-Medium.ttf') format(ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans' sans-serif;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153, 0.7);
    border-radius: 50px;
    width: 1px;
}